body{
    font-family: 'Montserrat', sans-serif;
}

div{
    width: 80%;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    /* box-shadow: 1px 1px 2px 2px cornflowerblue; */
    border-radius: 5px;
    /* background-color: rgb(219, 238, 255); */
    background-image: url(../imagens/pexels-designecologist-1398295.jpg);
    
    /* faz com que a imagem não repita */
    background-repeat: no-repeat; 

    /* faz a imagem cobrir todo o fundo */
    background-size: cover;

    background-position: 50%;
}
